<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">
  <targets>
    <target name="logfile" xsi:type="File"
      layout="${longdate}|${level}|${message} ${onexception:${newline}${exception:format=tostring}} ${newline}----------"
      fileName="logs/other_${shortdate}.log"
      encoding="utf-8"
      archiveNumbering="DateAndSequence"
      maxArchiveFiles="0"
      archiveEvery="Monday"
      archiveFileName="logs/other.{#}.log"
      concurrentWrites="true"
    />
    <target name="console" xsi:type="Console"  
      layout="${longdate} ${level} ${message} ${onexception:${newline}${exception:format=tostring}} ${newline}"/>
    <target name="commonfile" xsi:type="File"
      layout="${longdate}|${level}|${message} ${onexception:${newline}${exception:format=tostring}} ${newline}----------"
      fileName="logs/common_${shortdate}.log"
      encoding="utf-8"
      archiveNumbering="DateAndSequence"
      maxArchiveFiles="0"
      archiveEvery="Monday"
      archiveFileName="logs/common.{#}.log"
      concurrentWrites="true"
    />
    <target name="reportfile" xsi:type="File"
      layout="${message}${newline}"
      fileName="logs/report_${shortdate}.log"
      encoding="utf-8"
      archiveNumbering="DateAndSequence"
      maxArchiveFiles="0"
      archiveEvery="Monday"
      archiveFileName="logs/report.{#}.log"
      concurrentWrites="true"
    />
  </targets>
  <rules>
    <logger name="common" minlevel="Trace" writeTo="commonfile, console" final="true" />
    <logger name="report" minlevel="Trace" writeTo="reportfile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="logfile, console" />
  </rules>
</nlog>

